{% extends "emails/base/email_template.html" %}

{% block title %}Your Sponnect Registration is Pending Approval{% endblock %}

{% block header %}Welcome to Sponnect{% endblock %}

{% block content %}
<h2>Hello {{ user.username }},</h2>

<div class="info-box">
    <h3>Thank You for Registering!</h3>
    <p>Thank you for registering on Sponnect as a {{ user.role|title }}.</p>
    <p>Your account is currently under review by our admin team. You will receive an email notification once your account is approved.</p>
    <p>This process typically takes 1-2 business days.</p>
</div>

<div class="info-box">
    <h3>While You Wait</h3>
    <p>Here are a few things you can do:</p>
    <ul>
        <li>Complete your profile information</li>
        <li>Browse our <a href="{{ frontend_url }}/blog">blog</a> for tips</li>
        <li>Read more about <a href="{{ frontend_url }}/{{ user.role }}-guide">being a successful {{ user.role }}</a></li>
    </ul>
</div>

<p>If you have any questions, please contact our <a href="{{ frontend_url }}/support">support team</a>.</p>
<p>Best regards,<br>The Sponnect Team</p>
{% endblock %} 